<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.markatta.PowerlineServer</string> 

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/java</string>
        <string>-Xmx15m</string>
        <string>-Djava.awt.headless=true</string>
        <string>-jar</string>
        <string>/Users/johan/code/powerline-shell-scala/target/scala-2.11/powerline-shell-scala-assembly-0.1.0-SNAPSHOT.jar</string>
        <string>solarized-light</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>

    <key>StandardErrorPath</key>
    <string>/Users/johan/Library/Logs/powerline-server-error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/johan/Library/Logs/powerline-server.log</string>
</dict>
</plist>
